body {
    background: hsl(210, 100%, 90%) !important;
    min-width: 300px;
}

i.fa {
    line-height: inherit !important;
}

div.wrapper {
    width: 100%;
}

.wrapper.navigation {
    background: hsl(220, 70%, 25%);
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #0000004f
}

.navbar {
    margin: auto;
    width: 100%;
}

.nav-item a, .navbar-toggler, .navbar-nav li a {
    color: #ffffff !important;
    background: hsl(220, 70%, 25%);
}

.navbar-nav li a:hover {
    background: hsl(220, 70%, 20%);
}

.navbar-nav li a {
    padding: 0.5rem 1rem !important;
}

.selected {
    background: hsl(220, 70%, 15%) !important;
}

.dropdown-menu, .dropdown-item {
    padding: 0 !important;
    background: hsl(220, 50%, 45%) !important;
}

.dropdown-item:hover {
    background: hsl(220, 50%, 40%) !important;
}

article {
    background: hsl(220, 100%, 80%) !important;
}

footer {
    color: #ffffff;
    background-color: hsl(220, 80%, 40%);
}

label {
    white-space: nowrap;
}

div.row {
    padding: 5px;
}

input {
    height: 2rem;
    width: 100%;
}

.input-sign {
    padding: 0.25rem 0.5rem;
    line-height: inherit;
    width: 2rem;
    height: 2rem;
    background-color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 0.25rem 0 0 0.25rem;
}

.submit {
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-shadow: 0 0 3px black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    transition: 300ms;
}

.submit {
    background: hsl(90, 100%, 30%);
}

.submit:hover {
    background: hsl(90, 100%, 25%);
    transition: 300ms;
}

.submit:disabled {
    color: hsl(0, 0%, 30%);
    background: hsl(0, 0%, 60%);
    text-shadow: none;
    cursor: default;
}

div.article-preview {
    padding-bottom: 1.5rem;
    height: 100%;
    background-color: hsl(0, 70%, 70%);
    border-radius: 10px;
    box-shadow: 0 0 4px black;
    position: relative;
}

div.article-preview h4 {
    padding: 0.5rem;
    margin-bottom: 0;
}

div.article-preview p {
    text-align: justify;
    padding: 0 10px;
    margin-bottom: 0;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.article-preview span {
    display: block;
    text-align: right;
    font-style: italic;
    position: absolute;
    padding-right: 0.5rem;
    width: 100%;
    right: 0;
    bottom: 0;
}

form.login-form, form.register-form {
    padding: 1rem;
    width: 400px;
    max-width: 100%;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 0 3px black;
    border-radius: 10px;
}

table.user-management-table {
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 0 3px black;
}

table.user-management-table thead {
    background-color: hsl(300, 100%, 30%);
    color:hsl(0, 0%, 100%);
}

table.user-management-table tr:nth-child(even) {
    background-color: hsl(0, 0%, 80%);
}

table.user-management-table tr td, table.user-management-table thead th {
    padding: 0.25rem;
    border: 1px solid hsl(0, 0%, 40%);
    white-space: nowrap;
}

a.button {
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
    box-shadow: 0 0 3px black;
    border-radius: 6px;
    cursor: pointer;
    transition: 300ms;
}

a.button:hover {
    transition: 300ms;
}

a.button.new-article {
    text-decoration: none;
    color: white;
    background-color: hsl(90, 100%, 30%);
}

a.button.new-article:hover {
    background-color: hsl(90, 100%, 25%);
}

a.button.edit-article {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    box-shadow: none;
    border-radius: 0 0 0 6px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(200, 100%, 30%);
}

a.button.edit-article:hover {
    background-color: hsl(200, 100%, 20%);
}

.user-enabled, .user-disabled {
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    transition: 300ms;
}

.user-enabled {
    color: hsl(100, 100%, 30%);
    background-color: hsl(100, 70%, 60%);
}

button.user-enabled:hover {
    color: hsl(0, 100%, 45%);
    background-color: hsl(0, 70%, 70%);
    transition: 300ms;
}

.user-disabled {
    color: hsl(0, 100%, 50%);
    background-color: hsl(0, 70%, 80%);
}

button.user-disabled:hover {
    color: hsl(100, 100%, 25%);
    background-color: hsl(100, 70%, 50%);
    transition: 300ms;
}

div.article {
    background-color: hsl(200, 0%, 90%);
    border-radius: 6px;
    box-shadow: 0 0 3px black;
}

.article-header {
    color: white;
    background-color: hsl(300, 80%, 30%);
    padding: 0.25rem 0.5rem;
    border-radius: 6px 6px 0 0;
}

.article-content {
    padding: 0.5rem;
    margin: 0;
}

.article-timestamp {
    display: flex;
    justify-content: end;
    font-size: 0.75rem;
    color: hsl(0, 0%, 30%);
    margin-right: 0.25rem;
}

.article-controls {
    background-color: hsl(0, 0%, 80%);
    border-radius: 0 0 6px 6px;
}